body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fffef9;
  color: #333;
}

header {
  background-color: #006eff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
}

.banner {
  background-image: url(https://admin.cnnbrasil.com.br/wp-content/uploads/sites/12/2024/01/suco-fruta.jpg?w%3D1200%26h%3D900%26crop%3D1);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 100px 20px;
}

.banner button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #006eff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.sabores {
  padding: 60px 20px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 280px;
  padding: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.sobre, .contato {
  padding: 60px 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form input, form textarea {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  background-color: #006eff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #006eff;
  color: white;
  text-align: center;
  padding: 20px;
}
